<h1>本当に退会しますか？</h1>
<p>退会すると、登録情報やこれまでの投稿履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<% if current_admin %>
  <%= link_to "退会をしない", admin_end_user_path(end_user), class: "btn btn-success" %>
  <%= link_to "退会する", withdraw_admin_end_user_path(end_user), method: :patch, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
<% else %>
  <%= link_to "退会をしない", end_user_path(current_end_user), class: "btn btn-success" %>
  <%= link_to "退会する", withdraw_end_users_path, method: :patch, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
<% end %>