<div>
  <%= image_tag @end_user.get_profile_image(200, 200) %>
  <%= @end_user.name %>さん
  <%= @end_user.self_introduction %>
  <% if @end_user == current_end_user %>
    <p><%= link_to "プロフィール編集", edit_end_user_path(@end_user) %></p>
  <% end %>
</div>
