<%= javascript_include_tag 'style' %>

<div>
  <ul class="nav nav-tabs tab_area">
    <li id="tab1" class="nav-item">
      <button class="nav-link" data-toggle="tab" data-target="#tabTheme" type="button">
        お題
      </button>
    </li>
    <li id="tab2" class="nav-item">
      <button class="nav-link active" data-toggle="tab" data-target="#tabIllustration" type="button">
        イラスト
      </button>
    </li>
  </ul>

  <div class="tab-content">
    <div id="tabTheme" class="tab-pane content_area">
      <%= render "admin/themes/index", themes: @themes %>
    </div>
    <div id="tabIllustration" class="tab-pane content_area active">
      <%= render "admin/illustrations/index", illustrations: @illustrations %>
    </div>
  </div>
</div>