* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
}

.btn-theme {
  background: #d027c7;
  color: #FFF;
}

.btn-sub {
  background: #0fcac3;
  color: #FFF;
}

.bg-color {
  background: #4124b3;
}

.bg-form {
  background: #5c3fcb;
}

.bg-form-2 {
  background: #8772d7;
}

.navbar-toggler-icon {
  color: white;
}

.title-text {
  font-size: 25px;
}

.text-normal>option {
  color: #212529;
}

.text-link {
  color: #48dcef;
}

.text-link:hover {
  color: #0fcac3;
}