<% themes.each do |theme| %>
  <div>
    <%= link_to theme_path(theme.id) do %>
      <%= image_tag theme.end_user.get_profile_image(50, 50) %>
      <%= theme.title %>
    <% end %>
  </div>
<% end %>
