<% comments.each do |comment| %>
  <div>
    <%= link_to admin_theme_path(comment.theme_id) do %>
      <%= image_tag comment.end_user.get_profile_image(50, 50) %>
      <%= comment.comment %>
    <% end %>
  </div>
<% end %>